@{
    ViewData["Title"] = "Interactive Lift Maps";
}
<div class="homep">
    <h1 id="title">Welcome to LiftMaps+</h1>
    <div id="resselect">
        <h2>select your resort</h2>
        <a href="/whistler">Whistler Blackcomb</a>
        <br>
        <a href="/stevens">Stevens Pass</a>
    </div>
</div>